<title>Strona logowania</title>
<div class="main-container">
  <form class="login-form" [formGroup]="registerForm">
    <img src="../../../../assets/logo.png" alt="Logo GymBro">
    <div class="wrapper">
      <div class="container">
        <div class="inputs">
          <label>Imię:</label>
          <input type="text" placeholder="Imię" formControlName="name"><br>
        </div>
        <div class="inputs">
          <label>E-mail:</label>
          <input type="email" placeholder="E-mail" formControlName="email"><br>
        </div>
        <div class="inputs">
          <label>Login:</label>
          <input type="text" placeholder="Login" formControlName="username"><br>
        </div>
        <div class="inputs">
          <label>Hasło:</label>
          <input type="password" placeholder="Hasło" formControlName="password"><br>
        </div>
      </div>
    </div>
    <button (click)="register()" type="submit">Zarejestruj</button>
    <button (click)="goToLoginPage()" type="reset">Anuluj</button>
  </form>
</div>
