
/* Przyciski */
button {
    background-color: #2b2a2a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Inputy */
  input,textarea {
    background-color: #8b8a8a;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Zaokrąglone krawędzie dla wszystkich elementów */
  rounded {
    border-radius: 5px;
  }
html, body { height: 100%;width: 100%; background-image: url('assets/tło.jpg');}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
